<h1>Sahil Luqman || ITIS 3135</h1>
<nav>
  <p>
    <a href="./">Home</a> | <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a> | <a href="website_evaluations.html">Website Evaluations</a> | <a href="fccfsjs_outline.html">JavaScript Outline</a> | <a href="intro_form.html">Intro Form</a>
  </p>
  <p>
    <a href="./hobby/index.html">Hobby Site</a> | <a href="./stuff/StRanGe H&pPENings.htm">CRAPpy Website</a> | <a href="./supremelobster.com/index.html">Supreme Lobster Website</a> | <a href="./luqmanenterprises.com/index.html">Luqman Enterprises Site</a>
  </p>
</nav>
